@using WebApplication7.Models
@model IQueryable<IGrouping<int, WebApplication7.Models.Parrot>>
<p>
        @*<b>Name: </b> @cage.Name
        <span>Count: </span> @cage.Parrots.Count()*@
        
        @foreach (var group in Model)
        {
            var cageId = group.Key;
            foreach (Parrot parrot in group)
            {
                <div>
                    Parrot: @parrot.Name
                </div>
                <div>
                    Cage: @cageId
                </div>
                <span> ______</span>
            }

            <hr />
        }
    </p>
